<html>
  <table style="width:60%">
    <tr>
      <th>User</th>
      <th>Win</th>
      <th>Difficulty</th>
      <th>Attempts left</th>
      <th>Hints left</th>
    </tr>

    <%@statistic.each_value do |user| %>
      <tr>
        <td><%= user[:user_name]%></td>
        <td><%= user[:win]%></td>
        <td><%= user[:difficulty]%></td>
        <td><%= user[:attempts_number]%></td>
        <td><%= user[:hints_number]%></td>
      </tr>
    <% end %>
  </table>
  
<a href="/">Home Page</a>

</html>
